.list-item {
    display: flex;
    border: 1px solid black;
    margin: 50px;
    padding: 20px;
}

.list-item img {
    width: 40%;
    height: auto;
    margin: 10px;
}

.grid-item {
    margin: 20px;
    border: 1px solid black;
    float: left;
    width: 400px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item .img-desc {
    padding: 15px;
}

h1 {
    text-align: center;
}

button {
    background-color: rgb(42, 158, 143); 
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
@media (max-width:450px) {
    p {
        font-size: 0.75rem;
        text-align: center;
    }
}    